body{
    background-color: #fcbf49;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
	line-height: 1;
}
ol, ul{
	list-style: none;
}
blockquote, q{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}

.html{
	font-family: 'Anton', sans-serif;
}
.logomarca{
    width: 100px;
    height: 33px;
    background: url("logo.png");
    display: block;
}
.menu{
    float: left;
}
.menu_li{
	float: left;
	margin: 0 20px;
}
.menu__link{
	color: rgb(255, 255, 255);
text-decoration: none;

}
.clear{
    clear: both;
}
.center{
    width: 1110px;
    margin: 0 auto;
}
.apresentacao{
background: url("../Site\ N2/parede.jpg")no-repeat center 0; 
}

.icone{

}
.correspforma{
	color: #ffffff;
	
	line-height: 24px;
}
.email{
	width: 400px;
	font-family: 'Crimson Pro', serif;
        font-size: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: rgb(8, 6, 87); font-size: 16px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
	color: rgb(8, 6, 87); font-size: 16px;
  }
  :-ms-input-placeholder { /* IE 10+ */
	color: rgb(8, 6, 87); font-size: 16px;
  }
  :-moz-placeholder { /* Firefox 18- */
	color: rgb(8, 6, 87); font-size: 16px;
  }
  .desenho{
	  width: 400px;
	  height: 400px;
	  font-family: 'Crimson Pro', serif;
		font-size: 20px;
		position: relative;
  }
  .social{
	position: center;
  }